@import url('Button.css');

*{box-sizing: border-box;}

html, body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
    padding: 2vh 10% 0;
}

.page-title{
    font-family: 'Poppins', sans-serif;
}

.page-title::before{
    content: 'Reusable ';
}
.page-title::after{
    content: ' Component';
}
